version: '3.8'

services:
  home-assistant:
    image: ghcr.io/home-assistant/home-assistant:latest
    container_name: home-assistant
    restart: unless-stopped
    privileged: true
    environment:
      - TZ=UTC
    volumes:
      - ./home_assistant_config:/config
      - /run/dbus:/run/dbus:ro
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0 # Sonoff Zigbee 3.0 USB adapter
    network_mode: host
