services:
  home-assistant:
    image: ghcr.io/home-assistant/home-assistant:latest
    container_name: home-assistant
    restart: unless-stopped
    privileged: true
    environment:
      - TZ=UTC
    volumes:
      - ./home_assistant_config:/config
      - /run/dbus:/run/dbus:ro
    devices:
      - ${ZIGBEE_DEVICE:-/dev/ttyUSB0}:${ZIGBEE_DEVICE:-/dev/ttyUSB0} # Sonoff Zigbee 3.0 USB adapter
    network_mode: host

  laravel-backend:
    build: .
    container_name: laravel-backend
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "${APP_PORT}:8000"
    networks:
      - ha-network

  db:
    image: mysql:8.0
    container_name: laravel-db
    restart: unless-stopped
    environment:
      MYSQL_PORT: 3306
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "${DB_PORT}:3306"
    networks:
      - ha-network

networks:
  ha-network:
    driver: bridge

volumes:
  db_data:
